{% extends 'eas/component/motherbase4stu.html' %}

{% block head %}
<link href="https://cdn.bootcss.com/gijgo/1.9.13/combined/css/gijgo.min.css" rel="stylesheet">
{% endblock %}


{% block page-main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% include 'eas/component/panel_title.html' with title='已发送的消息' %}
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <div class="input-group">
                <input type="text" class="form-control" id="search" placeholder="搜索教室">
                <span class="input-group-btn">
                    <button class="btn btn-info mr-2" type="button" id="searchbtn">搜索</button>
                </span>
            </div>
            <div id="btn">
            </div>
            <a class="btn btn-success pull_right rounded-pill" href="/add_book/">发送新消息</a>
        </div>
        </button>
    </div>
</div>

<p>
    <a class="btn btn-default col-md-12" data-toggle="collapse" href="#collapseExample" role="button"
        aria-expanded="false" aria-controls="collapseExample">
        点击进行筛选
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
            <div class="form-group col-md-6">
                <label for="inputStartdate" class="col-sm-2 col-form-label">起始日期</label>
                <div class="col-sm-12">
                    <input id="startdate" class="col-12" name="startdate" value="">
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEnddate" class="col-sm-2 col-form-label">截止日期</label>
                <div class="col-sm-12">
                    <input id="enddate" class="col-12" name="enddate" value="">
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover" id="student_table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">是否已完成</th>
            <th scope="col">收件人</th>
            <th scope="col">标题</th>
            <th scope="col">发起时间</th>
            <th scope="col">完成时间</th>
            <th scope="col">操作</th>
        </tr>
    </thead>

    <tbody id="body">
        {% for message in messages %}

        <tr>
            <td>{{ forloop.counter }}</td>
            {% if message.isFinished == 0 %}
                <td class="text-danger"> 否 </td>
            {% else %} 
                <td class="text-success"> 是 </td>
            {% endif %} 
            {% if message.admin_id == 1 %}
                <td> admin </td>
            {% else %} 
                <td> {{ message.teacher_id.name }} </td>
            {% endif %} 
            <td>{{ message.title }}</td>
            <td>{{ message.gettime }}</td>
            <td scope="row">{% if message.isFinished == 0 %} - {% else %} {{message.finishtime}} {% endif %}</td>
            <td>
                <a class="btn btn-info" href="/student/delete_message/?id={{ message.id }}">删除此条</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block js %}
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/esm/popper.min.js"></script>
<script src="/static/gijgo/js/gijgo.min.js"></script>
<script src="/static/gijgo/js/messages/messages.zh-cn.min.js"></script>
<script>
    $("#startdate").datepicker({
        locale: 'zh-cn',
        format: 'yyyy-mm-dd',
        weekStartDay: 1
    });
    $("#enddate").datepicker({
        locale: 'zh-cn',
        format: 'yyyy-mm-dd',
        weekStartDay: 1
    });
</script>
<script src="/static/js/setupajax.js"></script>
<script>
    $(function () {
        // 获取教室类型
        $.get('/admin/getFunction/', function (data) {
            for (var i = 0, len = data.functions.length; i < len; i++) {
                $new = $("<option value=" + data.functions[i][0] + ">" + data.functions[i][1] + "</option>");
                $("#inputFunction").append($new);
            }
        });

        $.get('/admin/getBuilding/', function (data) {
            for (var i = 0, len = data.buildings.length; i < len; i++) {
                $new = $("<option value=" + data.buildings[i][0] + ">" + data.buildings[i][1] + "</option>");
                $("#inputBuilding").append($new);
            }
        });


        //改变教室类型后
        $("#inputFunction").change(function () {
            gochooseroom();
        })

        $("#inputCapacity").blur(function () {
            gochooseroom();
        })


        $("#inputBuilding").change(function () {
            gochooseroom();
        })
        

        $("#searchbtn").on("click", function () {
            var content = $("#search").val();
            $.ajax({
                url: '/admin/searchroom/',
                type: 'get',
                data: { "content": content },
                success: function (data) {
                    $('#student_table tbody').html('');
                    var obj = eval(data);
                    var tbody = $('#body');
                    $(obj).each(function (index) {
                        var val = obj[index];
                        var count = index + 1;
                        //alert(val.name);
                        var tr = $('<tr></tr>');
                        tr.append('<td>' + count + '</td>' + '<td>' + val.name + '</td>' + '<td>' + val.capacity + '</td>' + '<td>' + val.function + '</td>');
                        tr.append('<td>' + '<a class="btn btn-info" href="/admin/edit_student/?id=' + val.id + '">编辑</a>' + '</td>');
                        tbody.append(tr);
                    });
                }
            })
        })
        
        function gochooseroom() {
            var functions = $("#inputFunction").val();
            var capacity = $("#inputCapacity").val();
            var building = $("#inputBuilding").val();
            $.ajax({
                url: '/admin/getroomlist/',
                type: 'get',
                data: { "function_id": functions , "capacity":capacity , "building": building},
                success: function (data) {
                    $('#student_table tbody').html('');
                    var obj = eval(data);
                    var tbody = $('#body');
                    $(obj).each(function (index) {
                        var val = obj[index];
                        var count = index + 1
                        //alert(val.name);
                        var tr = $('<tr></tr>');
                        tr.append('<td>' + count + '</td>' + '<td>' + val.name + '</td>' + '<td>' + val.capacity + '</td>' + '<td>' + val.functions + '</td>');
                        tr.append('<td>' + '<a class="btn btn-info" href="/admin/edit_classroom/?id=' + val.id + '">编辑</a>' + '</td>');
                        tbody.append(tr);
                    });
                }
            })
            
        }
    })
</script>
{% endblock %}