<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark shadow p-0 flex-md-nowrap">
    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="/">图书管理系统</a>
    <button class="navbar-toggler position-absolute collapsed" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0 ml-auto mr-5">
            <input class="form-control mr-sm-2" type="search" placeholder="搜索" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
        </form>
        <ul class="navbar-nav mr-3">
            <li class="nav-item active">
                <a class="nav-link" href="#">我的 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">退出登录</a>
            </li>
        </ul>
    </div>
</nav>
