<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>编辑书籍</title>
</head>
<body>
<h1>编辑书籍</h1>
<form action="/edit_book/" method="post">
    <input type="text" style="display: none" name="id" value="{{ book_obj.id }}">
    <p>
        <input type="text" name="book_title" value="{{ book_obj.title }}">
    </p>
    <p>
        <input type="text" name="book_price" value="{{ book_obj.price }}">
    </p>
        
    <p>
        <input type="text" name="book_kucun" value="{{ book_obj.kucun }}">
    </p>
    <p>
        <input type="text" name="book_maichu" value="{{ book_obj.maichu }}">
    </p>
    <p>
        <select name="publisher">
            {% for pub in publisher_list %}
                {% if book_obj.publisher.id == pub.id %}
                {#当前书籍关联的出版社才默认选中，其他出版社不选中#}
                    <option selected value="{{ pub.id }}">{{ pub.name }}</option>
                {% else %}
                    <option value="{{ pub.id }}">{{ pub.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>
        <input type="submit" value="提交">
    </p>
</form>

</body>
</html>
