{% extends 'eas/motherbase.html' %}

{% block head %}
<link href="https://cdn.bootcss.com/gijgo/1.9.13/combined/css/gijgo.min.css" rel="stylesheet">
{% endblock %}


{% block page-main %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    {% include 'eas/component/panel_title.html' with title='学校机构管理' %}
</div>
<div class="container mt-5">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>单位管理</h2>
            <p>管理教学单位信息</p>
            <p><a class="btn btn-secondary col-md-4" href="/admin/status/" role="button">进入 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>专业管理</h2>
            <p>管理专业信息</p>
            <p><a class="btn btn-secondary col-md-4" href="/admin/teacherlist/" role="button">进入 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>班级管理</h2>
            <p>管理班级信息</p>
            <p><a class="btn btn-secondary col-md-4" href="/admin/courselist/" role="button">进入 &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>场地管理</h2>
            <p>管理教学场地信息</p>
            <p><a class="btn btn-secondary col-md-4" href="#" role="button">进入 &raquo;</a></p>
        </div>
    </div>
    <hr>
</div> <!-- /container -->
{% endblock %}

{% block js %}
<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/esm/popper.min.js"></script>
<script src="/static/gijgo/js/gijgo.min.js"></script>
<script src="/static/gijgo/js/messages/messages.zh-cn.min.js"></script>
<script>
    $("#birthday").datepicker({
        locale: 'zh-cn',
        format: 'yyyy-mm-dd',
        weekStartDay: 1
    });
    $("#entryTime").datepicker({
        locale: 'zh-cn',
        format: 'yyyy-mm-dd',
        weekStartDay: 1
    });
</script>
<script src="/static/js/setupajax.js"></script>
<script>
    $(function () {

        $("#changepwd").on("click", function () {
            $.ajax({
                url: '/student/changepwd/',
                type: 'get',
                success: function (data) {
                    alert(data);
                }
            })            
        })


        // 获取学院
        $.get('/admin/getCollege/', function (data) {
            for (var i = 0, len = data.colleges.length; i < len; i++) {
                $new = $("<option value=" + data.colleges[i][0] + ">" + data.colleges[i][1] + "</option>");
                $("#inputCollege").append($new);
            }
        });


        //改变学院后
        $("#inputCollege").change(function () {
            //清空专业和班级
            $("#inputMajor").empty().append('<option value="">请选择专业</option>');
            $("#inputClass").empty().append('<option value="">请选择班级</option>');
            $.ajax({
                url: '/admin/getMajor/',
                type: 'get',

                data: { "college_id": $(this).val() }
            }).done(function (data) {
                for (var i = 0, len = data.majors.length; i < len; i++) {
                    $new = $("<option value=" + data.majors[i][0] + ">" + data.majors[i][1] + "</option>");
                    $("#inputMajor").append($new);
                }
            });
        });

        //改变专业后
        $("#inputMajor").change(function () {
            //清空班级
            $("#inputClass").empty().append('<option value="">请选择班级</option>');
            $.ajax({
                url: '/admin/getClass/',
                type: 'get',
                data: { "major_id": $(this).val() }
            }).done(function (data) {
                for (var i = 0, len = data.classes.length; i < len; i++) {
                    $new = $("<option value=" + data.classes[i][0] + ">" + data.classes[i][1] + "</option>");
                    $("#inputClass").append($new);
                }
            });
        });

        $("#inputClass").change(function () {
            var college_id = $("#inputCollege").val();
            var major_id = $("#inputMajor").val();
            var class_id = $("#inputClass").val();
            $.ajax({
                url: '/admin/showstudents/',
                type: 'get',
                data: { "college_id": college_id, "major_id": major_id, "class_id": class_id },
                success: function (data) {
                    var obj = eval(data);
                    var tbody = $('#body');
                    $(obj).each(function (index) {
                        var val = obj[index];
                        var count = index + 1
                        //alert(val.name);
                        var tr = $('<tr></tr>');
                        tr.append('<td>' + count + '</td>' + '<td>' + val.stu_id + '</td>' + '<td>' + val.name + '</td>' + '<td>' + val.class + '</td>' + '<td>' + val.sex + '</td>');
                        tr.append('<td>' + '<a class="btn btn-info" href="/admin/edit_student/?id=' + val.stu_id + '">编辑</a>' + '</td>');
                        tbody.append(tr);
                    });
                }
            })
            $('#student_table tbody').html('');
        })
        // 获取国家
        $.get('/admin/getCountry/', function (data) {
            for (var i = 0, len = data.countries.length; i < len; i++) {
                $new = $("<option value=" + data.countries[i][0] + ">" + data.countries[i][1] + "</option>");
                $("#inputCountry").append($new);
            }
        });


        //改变省份后
        $("#inputCountry").change(function () {
            //清空市和区
            $("#inputProvince").empty().append('<option value="">请选择省份</option>');
            $("#inputCity").empty().append('<option value="">请选择城市</option>');
            $.ajax({
                url: '/admin/getProvince/',
                type: 'get',

                data: { "country_id": $(this).val() },
            }).done(function (data) {
                for (var i = 0, len = data.provinces.length; i < len; i++) {
                    $new = $("<option value=" + data.provinces[i][0] + ">" + data.provinces[i][1] + "</option>");
                    $("#inputProvince").append($new);
                }
            });
        });

        //改变城市后
        $("#inputProvince").change(function () {
            //清空市和区
            $("#inputCity").empty().append('<option value="">请选择城市</option>');
            $.ajax({
                url: '/admin/getCity/',
                type: 'get',
                data: { "province_id": $(this).val() }
            }).done(function (data) {
                for (var i = 0, len = data.cities.length; i < len; i++) {
                    $new = $("<option value=" + data.cities[i][0] + ">" + data.cities[i][1] + "</option>");
                    $("#inputCity").append($new);
                }
            });
        });
        
        $("#stuid").blur(function() {
            $('#stuidlabel').html('');
            $.ajax({
                url: '/admin/judgename',
                type: 'get',
                data: {"stu_id": $(this).val()},
                success: function (params) {
                    $new = $("<label class='col-form-label  text-danger'>" + params + "</label>");
                    $('#stuidlabel').append($new);
                }
            })
        });

    })
</script>
{% endblock %}