
 <tbody id="student_list">
        {% for student in student_list %}

        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ student.stu_id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.Class }}</td>
            <td>{{ student.sex }}</td>
            <td>
                <a class="btn btn-danger" href={% url 'delete' 'student' student.stu_id %}>删除</a>
                <a class="btn btn-info" href="/edit_book/?id={{ student.stu_id }}">编辑</a>
            </td>
        </tr>
        {% endfor %}
</tbody>