<!DOCTYPE html>
<html lang = "ch">
<head>
    <meta charset = "utf-8" />
    <title>Blue Flax (Linum lewisii)</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<header role =  "banner">
    <nav>
        <ul>
            <li><a href="#gaudi">
                操你妈</a></li>
            <li lang="ch"><a href="#sagrada-familia">
                甘霖娘</a>
            </li>
            <li><a href="#park-guell">狗杂碎</a></li>
        </ul>
    </nav>
</header>
<main role = "main">
    <article>
        <h1 id = "hello">放恁娘的屁</h1>
        <p>啊这</p>
    </article>
    <div>
        <figure>
            <figcaption>
                <strong>Fuck you</strong>
                <p>bitch ass</p>
            </figcaption>
            <img src = "/static/img/20201104224052.png"/>
        </figure>
    </div>
    <footer>&lt屁嘞&gt</footer>
    <img src = "/static/img/20201104224052.png" width="300" height = "175" alt = "操你妈"/>
    <p>操<abbr title = "懂健康">你</abbr>妈</p>
</main>
<div>
    <header>
        傻逼
    </header>
    <article>
        <p>
            傻逼
        </p>
        <p><a href="202.182.100.41:8000/zoujiaxv/" rel = "external" title = "fuck">百度</a> </p>
        <p><a href="#hello" title = "回到顶部">回到顶部</a></p>
        <p><a href = "/static/img/20201104224052.png">pircture</a></p>
    </article>
</div>
</body>
</html>
