{% extends '1_1/motherbase.html' %}

{% block page-main %}
<h1 class="page-header">作者列表</h1>

<div class="panel panel-primary">
    <div class="panel-heading">作者列表<i class="fa fa-thumb-tack pull-right"></i></div>
    <div class="panel-body">
        <div class="row" style="margin-bottom: 15px">
            <div class="col-md-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">搜索</button>
                    </span>
                </div><!-- input-group-->
            </div> <!--md4-->
            <div class="col-md-3 pull-right">
                <a class="btn btn-success pull-right" href="/add_author/">新页面标签</a>
                <button class="btn btn-success pull-right" data-toggle="modal" data-target="#myModal">新增</button>
            </div>
        </div> <!--row-->

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>id</th>
                    <th>名字</th>
                    <th>著作</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for author in author_list %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ author.id }}</td>
                    <td>{{ author.name }}</td>
                    <td>{% for book in author.book.all%}
                            {% if forloop.last %}
                                {{ book.title }}
                            {% else %}
                                {{ book.title }} | 
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {#<a class="btn btn-danger" href="/delete_author/?id={{ author.id }}">删除</a>#}
                        <a class="btn btn-danger" href="{% url 'dela' author.id %}">删除</a>
                        <a class="btn btn-info" href="/edit_author/?id={{ author.id }}">编辑</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

    </div> <!--panel-body-->
</div><!--panel-primary-->

{% endblock %}
